*{
    background-color: ivory;
    font-family: cursive;
}

h3 a{
    background-color: black;
    color: white;
    padding: 10px;
    text-decoration: none;
}

h3 a:hover{
    background-color: #555;
    color: white;
}

.banner{
    background-color: bisque;
    color: black;
    margin: 0 auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

form{
    background-color: lightblue;
    width: 100%;
    
}
form table tr{
    height: 100px;
    font-size: 20px;
}

form table{
    margin-top: 30px;
    width: 80%;
    padding: 10px;
    font-family: cursive;
    text-align: center;
    font-size: 30px;
}

form input, select{
    height: 30px;
    background-color: wheat;
    font-weight: bold;
    font-size: 20px;
    width: 150px;   
}

input[type=submit]:hover
{
    background-color: orange;
    cursor: pointer;
}

.identity{
    background-color: lightblue;
    margin-bottom: 400px;
}

.identity table{
    background-color: black;
    margin-top: 80px;
    width: 80%;
    height: 500px;
    font-size: 30px;
    text-align: center;
}

.identity table td{
    background-color: #fff4e1;
}

.identity table th{
    background-color: #ffebc7;
    height: 10px;

}

.identity table img{
    max-width: 150px;
}